html{
  font-size: 62.5%;
}
body{
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
h3{
  display: inline-block;
  color: black;
  background: slategrey;
  padding:1rem 2rem;
  margin:auto 1rem;
}
a{
  text-decoration: none;
  color: white;
}
/*GENERAL*/
.white{
  color: white;
}
.second{
  background-image: url(../imagenes/secondary.jpg);
  background-position: center;
  background-size:cover;
}/*fondo de pantalla paginas no principales*/

.boton{
  margin: 2rem auto;
  padding: .4rem;
  background-color: red;
  text-decoration: none;
  font-weight: 700;
  font-size: 2.4rem;
  text-transform: uppercase;
  border-style: inset;
  border-width: .3rem;
  border-color: #333333;
}
.boton:hover{
  background-color: darkred;
  color: #333333;
  border-style: outset;
}

.activo{
  color: red;
}/*indica en que pagina estas*/

.aladear{
  display: flex;
  justify-content:space-around;
}
@media(max-width: 1024px){
  .block{
    flex-direction: column;
  }
}/*ordena modulos*/

/*INDEX*/
.menup{
  background-image: url(../imagenes/index.jpg);
  background-position: center;
  background-size: cover;
}/*fondo de pantalla index*/

header{
  height: 15vh;
}

.barra{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;;
  color: white;
}/*barra con fondo negro*/

.link{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}/*enlaces en horizontal debajo del titulo*/

.link__enlace:hover{
  color: red;
}/*enlace cuando le ponen el mouse encima*/

.contenedor{
  width: calc(100vw - 2rem);
  max-width: 120rem;
  margin: 1rem auto;
  min-height: calc(75vh - 2rem);
}/*tamaño de la entrada principal de la pagina*/

.boton__index{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5rem;
  width: 30rem;
  height: 30rem;
  border-radius: 15rem;
}

/*ARMAR.HTML*/
select{
  padding: .5rem 2rem;
  border-radius: .5rem;
  border: none;
  width: 100%;
  color: #333333;
  text-transform:uppercase;
  margin-bottom: .5rem;
}

/*INFORMACION*/
.grid{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}/*distribuye los autos con su titulo de manera equitativa*/
.grid_1_3{
  display: grid;
  grid-template-columns: 1fr 3fr;
}/*le da un cuarto de espacio a la seccion de motores y 3 a la de transmision*/
.beige{
  background-color: beige;
  margin: .5rem;
  padding: 1rem;
}/*fondo beige con un pequeño margen*/

#canvas{
  background-image: url(../imagenes/calle.jpg);
  background-position: center;
  background-size: inherit;
  width: 100%;
  max-width: 120rem;
  height: calc(60rem - 10rem);
  margin-bottom: 1rem;
}

/*footer*/
footer{
  text-transform: lowercase;
  height: 10vh;
}
