html{
  font-size: 62.5%;
}
body{
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
h3{
  display: inline-block;
  color: black;
  background: slategrey;
  padding:1rem 2rem;
  margin:auto 1rem;
}
header{
  justify-content: center;
  color: white;
  background-color: black;
  padding-top: .5rem;
  margin-bottom: 2rem;
}
input{
  margin: 3rem auto;
  background: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
  color: white;
}
input:hover{
  color: red;
}
/*--aca empiezan las clases--*/
/*menup, game y second son las clases con los distintos formatos*/
.menup{
  background-image: url(../imagenes/index.jpg);
  background-position: center;
  background-size: cover;
}
.second{
  background-image: url(../imagenes/secondary.jpg);
  background-position: center;
  background-size:cover;
}
.contenedor{
  max-width: 120rem;
  margin: 0 auto;
}

/*barra con botones en serie*/
#barra{
  display: flex;
  justify-content: center;
  background-color: black;
  margin-top: 2rem;
}
#barra a{
  color: white;
  text-decoration:none;
  margin-right: 2rem;
}
#barra a:last-of-type{
  margin: 0;
}
#barra a:hover{
  color: red;
}

/*pone modulos seguidos*/
.aladear{
  display: flex;
  justify-content:space-around;
}
.block{
  display: flex;
  justify-content:space-around;
}
@media(max-width: 1000px){
  .block{
    flex-direction: column;
  }
}

/*letra blanca*/
.title{
  color: white;
}

/*coloca objetos seguidos de su titulo y opuestos*/
.seguidillo{
  display: flex;
  justify-content:space-between;
  margin: .5rem;
}
/*fondo beige*/
.beige{
  background-color: beige;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
select{
  padding: 1rem 2rem 1rem 2rem;
  border-radius: .5rem;
  border: none;
  width: 100%;
  color: #333333;
  text-transform:uppercase;
}
.boton{
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
  text-decoration: none;
  font-size: 5rem;
  font-weight: 700;
  color: white;
  width: 30rem;
  height: 30rem;
  border-radius: 15rem;
  border-style: inset;
  border-width: .3rem;
  border-color: #333333;
}
.boton:hover{
  background-color: darkred;
  color: #333333;
  border-style: outset;
  border-color: #333333;
}
.margen-costados{
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (max-width: 1000px) {
  .margen-costados{
    margin-left: 0;
  }
}
#canvas{
  background-color: beige;
  width: calc(100% - 3rem);
  height: calc(50% - 3rem);
}
