html{ box-sizing: border-box; }
 *, *:before, *:after{ box-sizing: inherit;}

html{
  font-size: 62.5%;
  scroll-behavior:smooth;
  overflow: hidden;
}
body{
  background-image: url(/img/fondonosotros.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
h1:hover,
h2:hover,
h3:hover,
h4:hover,
p:hover,
a:hover{
  cursor: default;
}
nav{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@font-face {
  font-family: "Brandon Black", sans-serif;
  src: url(Brandon text/HVD Fonts - BrandonText-Black.otf);
}
@font-face {
  font-family: "Brandon Regular", sans-serif;
  src: url(Brandon text/HVD Fonts - BrandonText-Regular.otf);
}
p{
  font-family: "Brandon Regular",sans-serif;
}
h1{
  text-transform: uppercase;
  font-size: 3rem;
}
h3{
  text-transform: uppercase;
  margin: 0;
}
h1, h3, h4{
  font-weight: bold;
  font-family: "Brandon Black",sans-serif;
}
a{
  text-decoration: none;
}
section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  align-items: center;
}
.barra{
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 6.05rem;
  align-items: flex-end;
  background-color: #ffffff;
  margin: 0 0;
}
.barra nav a{
  font-size: 1.3rem;
  font-family: "Brandon Black", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0,0,0,.95);
  padding: 1rem 4rem;
}
.barra nav a:hover{
  color: rgba(0,0,0,1);
  background: rgb(236,235,235);
  background: -moz-radial-gradient(circle, rgba(236,235,235,1) 0%, rgba(236,235,235,1) 50%, rgba(255,255,255,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(236,235,235,1) 0%, rgba(236,235,235,1) 50%, rgba(255,255,255,1) 100%);
  background: radial-gradient(circle, rgba(236,235,235,1) 0%, rgba(236,235,235,1) 50%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecebeb",endColorstr="#ffffff",GradientType=1);
  transition: .5s;
}
.logo{
  height: 6rem;
  position: absolute;
  top: 0;
  left: 7%;
  padding: .5rem;
}
.activo{
  color: rgba(0,0,0,1) !important;
  background: rgb(236,235,235);
  background: -moz-radial-gradient(circle, rgba(236,235,235,1) 0%, rgba(236,235,235,1) 50%, rgba(255,255,255,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(236,235,235,1) 0%, rgba(236,235,235,1) 50%, rgba(255,255,255,1) 100%);
  background: radial-gradient(circle, rgba(236,235,235,1) 0%, rgba(236,235,235,1) 50%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecebeb",endColorstr="#ffffff",GradientType=1);
}
.contenedor-barra{
  width: 70%;
}
img{
  max-width: 100%;
}
.redes{
  display: flex;
  font-size: 3rem;
  position: fixed;
  right: 0;
  top: 48vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, .5);
  padding: 5px 7.5px;
  margin-right: 10px;
  border-radius: 5px;
}
.redes a{
  color: rgba(0, 0, 0, .75);
  transition: .3s;
}
.redes a:hover{
  color: #ffffff;
}
/*GLOBALES*/
section .contenedor{
  width: 85%;
  max-width: 120rem;
  margin-top: 10rem;
  height: 70%;
  width: 70%;
  max-height: 470px;
}
.column{
  flex-direction: column;
}
.botonera{
  display: flex;
  margin: 0 auto;
}
.boton{
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  padding: 0 30px;
  width: 150px;
  height: 30px;
  flex: 0 0 50%;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: "Brandon Black", sans-serif;
  margin: 5px 1.5px 3px 1.5px;
}
.boton:hover{
  background-color: #ecebeb;
  transition: .3s;
  color: #000000;
}
.boton h3{
  display: flex;
  justify-content: center;
  margin-top: 6px;
}
.hover:hover{
  transform: scale(1.05) !important;
  box-shadow: 0 0 5rem #666 !important;
}
.scroll{
  overflow: scroll;
  margin-right: -6.5px;
}
.scroll::-webkit-scrollbar
{
	width: 6px;
  height: 6px;
}
.scroll::-webkit-scrollbar-thumb
{
	background-color: #ffffff;
  border-radius: 3px;
}
.scroll:hover::-webkit-scrollbar-thumb
{
	background-color: #B5B5B5;
}
.carpeta{
  width: 50%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.galeria{
  margin: .5%;
  border: 1px solid #e1e1e1;
  width: 90%;
  padding: 5px;
}
.imagenes{
  overflow: hidden;
  padding: 5px;
}
.imagenes a img{
  height: 10vh;
  width: calc(25% - 5px);
  transition: .5s;
  object-fit: cover;
}
.imagenes a img:hover{
  transform: scale(1.1);
}
.agrupaciones{
  padding: 5px;
}
.agrupaciones a img{
  width: calc((100% / 5) - 5px);
  max-width: calc((120rem / 5) - 5px);
  height: calc((100% / 3) - 5px);
  max-height: calc((120rem / 5) - 5px);
  transition: .5s;
  object-fit: cover;
}
.agrupaciones a img:hover{
  transform: scale(1.05);
}

/*informacion*/
.informacion{
  text-align: center;
  position: relative;
  z-index: 1;
  margin: auto 0;
  height: 50%;
}
.informacion p{
  width: 60%;
  margin: auto;
  text-align: justify;
  text-align-last: center;
  font-size: 1.4rem;
}
.informacion i{
  font-size: 2rem;
  margin: 3rem auto;
  transition: .5s;
}
.informacion i:hover{
  font-size: 3rem;
}
.fondo-blanco{
  display: flex;
  background-color: #ffffff;
  width: 100vw;
  opacity: .9;
  margin-top: 15vh;
}
/* caja */
.caja{
  width: 0;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 5px;
  display: grid;
  flex: none;
  grid-template-columns: repeat(4, 1fr);
  padding: 5% 5% 5% 3% ;
  box-shadow: 0 0 5rem #666;
  transition: .5s;
}
.atras::before{
   content: "atras";
   position: absolute;
   margin-top: -2rem;;
}
.caja .scroll h4{
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #000000;
  padding: .9rem 0;
  margin: 2rem auto;
}
.asa img{
  padding: .25rem 1rem 0 10%;
}
.caja p{
  text-align: justify;
  text-align-last: left;
  font-size: 1.4rem;
  margin: 0 1.8rem 1.8rem 0;
  padding: .25rem 1rem 0 10%;
}
.caja img{
  grid-column: 1 / 3;
  grid-row: 1/3;
  margin-top: 0;
  margin-bottom: auto;
  max-height: 100%;
  align-self: stretch;
}
.caja .scroll{
  grid-column: 3/5;
  grid-row: 1/4;
}
.caja h3{
  text-align: left;
  padding: .25rem 0 0 10%;
  font-size: 1.25rem;
  margin-top: 3rem;
}
.caja h3:first-of-type{
  padding-top: 0;
  margin-top: 0;
}
.contenedor-cajas{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contenedor-cajas .caja{
  padding: 1.3rem 1.3rem 2rem 1.3rem;
  display: flex;
  flex-direction: column;
  box-shadow: none;
}
/*columnas*/
.fullwidth{
  width: 100%;
}
.columnas-3{
  flex: 0 0 32%;
}
.columnas-4{
  flex: 0 0 24.5%;
  height: 49%;
}
/*FOTO*/
.foto{
  position: relative;
  padding: 0 !important;
  border: none;
}
.foto img{
  height: 100%;
  object-fit: cover;
  object-position: center center;
  filter: grayscale(1);
  transition: .5s ease-in-out;
  border-radius: 5px;
}
.foto:hover img{
  filter: grayscale(0);
  transform: scale(1.1);
  z-index: 10;
}
.foto h4{
  position: absolute;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
  padding: 15px 10px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.85);
  color: #000000;
  width: 100%;
  transition: all .5s ease-in-out;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.foto:hover h4{
  bottom: -80px;
  opacity: 0;
  z-index: 10;
  }
/*header*/
.site-header{
  background-position: center;
  background-size: cover;
}
.video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: relative;
}
.credito{
  position: absolute;
  padding: 10px;
  bottom: 0px;
  right: 0px;
}
.credito:hover{
  cursor: pointer;
}
.credito a{
  font-family: "Brandon Regular", sans-serif;
  color: #000000;
}
/*modulos*/
#moduloAlfa{
  margin-right: auto;
  margin-left: 0;
}
#moduloBeta{
  margin-right: auto;
  margin-left: auto;
}
#moduloGamma{
  margin-right: 0;
  margin-left: auto;
}
.no-margin{
  height: inherit;
}
.propiedades{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 50%;
}
.propiedades img{
  margin: 2.5px auto 2.5px 0px;
}
.propiedades img:first-child{
  height: 35%;
}
.propiedades img:last-child{
  height: 65%;
}
.tituloModulos{
  text-transform: uppercase;
  font-weight: none;
  font-size: 2rem;
  margin: 5px auto;
}
/*nosotros*/
.nosotros{
  height: 92.5vh;
}
.nosotros h3{
  text-transform: none;
  font-size: 1.3rem;
  font-weight: 600;
}
/*footer*/
.footer{
  background-color: #ffffff;
  width: 100%;
  height: 7.5vh;
  bottom: 0;
  color: rgba(0,0,0,.75);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.space-around{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.space-around p{
  margin: 0;
}
